.section1-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/HOME.jpg");
  background-size: cover;
  padding-bottom: 100px;
}

.our-mission {
  flex-basis: 40%;
  margin-top: 200px;
}

.our-mission-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #938807;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000;
}

.our-mission-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.calendar-box {
  margin-top: 200px;
  flex-basis: 40%;
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event-calendar-box {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
  background-color: white;
  padding: 15px 15px;
  border-radius: 15px;
}

.event-calendar-info {
  padding: 5px 5px;
}

.event-calendar-month {
  font-size: 0.8rem;
  font-weight: 700;
  color: #938807;
}

.event-calendar-day {
  font-size: 1.8rem;
  font-weight: 700;
  color: #938807;
  margin-bottom: 0.5rem;
}

.event-calendar-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.event-calendar-summary {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  margin-bottom: 0.5rem;
}

.clock-icon {
  margin-right: 5px;
  font-size: 0.7rem;
}

.event-calendar-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  background-color: black;
  padding: 0.2rem 0.7rem;
  border-radius: 15px;
  width: fit-content;
  opacity: 75%;
}

.slogan-div {
  position: relative;
  margin-top: -110px;
}

.slogan-text {
  font-size: 5rem;
  font-weight: 400;
  color: #938807;
  text-align: center;
  filter: opacity(75%);
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000;
}

.carousel-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.carousel-image {
  height: 400px;
  width: 400px;
}

.section3-box {
  background-color: white;
}

.section3-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #938807;
  text-align: center;
  padding-top: 0.6rem;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000;
}

.card-content {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.info-card {
  flex-basis: 28%;
}

.card-image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.card-info {
  font-size: 1.3rem;
  font-weight: 400;
  color: #938807;
  text-align: center;
  margin-bottom: 1rem;
  border: 5px solid black;
  padding: 3rem 1rem 1rem 1rem;
  margin-top: -3rem;
  background-color: black;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px #000000;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #938807;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.section4-box {
  background-color: black;
  background-image: url(../../../assets/HOME3.jpg);
  background-size: cover;
  text-align: center;
  padding-bottom: 40px;
}

.section4-title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #938807;
  padding-top: 0.6rem;
  text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000,
    1px 1px 1px #000;
}

.section4-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.donate-button {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 5px 5px;
  background-color: #938807;
  border-radius: 5px;
  width: 9%;
  filter: brightness(90%);
  transition: 0.3s ease-in-out;
}

.donate-icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  color: #003087;
}

.donate-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.donate-button:hover {
  filter: brightness(100%);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.full-screen-view {
  position: fixed; /* Fixed position to cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
  color: white; /* Text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Ensure it's above other content */
}

.full-screen-event {
    background-color: white;
    border-radius: 15px;
}

.btn-holder {
    width: 97%;
    text-align: end;
}

.event-closebtn {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.event-expand-title {
    color: black;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.info-event-holder {
    padding: 5px 20px;
    width: 100%;
    max-width: 820px;
}

.event-expand-date {
    color: black;
    margin: 5px 0px;
}

.event-expand-summary {
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 5px 0px;
}

.event-expand-desc {
    color: black;
    font-size: 1.25rem;
    margin: 5px 0px;
}

.event-expand-when {
    color: black;
    font-size: 1rem;
    font-weight: 700;
    margin: 5px 0px;
}

.when-icon {
    margin-right: 5px;
    font-size: 1rem;
}

.event-expand-img {

}

@media screen and (max-width: 1450px) {
  .section1-box {
    flex-direction: column;
    margin-top: 0px;
  }

  .our-mission {
    width: 80%;
    margin-top: 200px;
  }

  .calendar-box {
    width: 80%;
    margin-top: 25px;
  }

  .slogan-div {
    margin-top: -80px;
  }

  .slogan-text {
    font-size: 3.5rem;
  }

  .carousel-box {
    margin-top: 0px;
  }

  .carousel-image {
    height: 300px;
    width: 300px;
  }

  .section3-title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .card-image {
    margin-bottom: -40px;
  }

  .card-content {
    width: 60%;
    flex-direction: column;
  }

  .info-card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .card-info {
    margin-top: 0px;
  }

  .section4-title {
    font-size: 3rem;
  }

  .section4-content {
    font-size: 1.3rem;
  }

  .donate-button {
    width: fit-content;
  }

  .donate-text {
    font-size: 1.3rem;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 800px) {
  .our-mission {
    margin-top: 50px;
  }

  .slogan-text {
    font-size: 2.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .card-content {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .slogan-text {
    font-size: 1.5rem;
    margin-top: 100px;
  }

  .event-calendar-box {
    flex-basis: 80%;
  }
}
