
.section1-box {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/HOME.jpg');
    background-size: cover;
    /* background-position: center; */
    padding-bottom: 100px;
} 

.our-mission {
    flex-basis: 40%;
    margin-top: 200px;
}

.our-mission-title {
    font-size: 3.5rem;
    font-weight: 700;
    color: #938807;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.our-mission-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.calendar-box {
    margin-top: 200px;
    flex-basis: 40%;
}

.slogan-div {
    margin-top: -100px;
}

.slogan-text {
    font-size: 5rem;
    font-weight: 400;
    color: #938807;
    text-align: center;
    margin-bottom: 1rem;
    filter: opacity(75%);
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}
