.contact-image {
    background-image: url(../../../assets/HOME.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.contact-title {
    font-size: 75px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 200px;
    padding-bottom: 75px;
}

.contact-section {
    width: 80%;
    background-color: black;
    display: flex;
    margin: 0 auto;
}

.contact-images {
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-form {
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-photo1 {
    width: 50%;
    height: 250px;
    margin: 30px auto;
    border: #938807 5px solid;
}

.google-maps {
    width: 50%;
    height: 250px;
    margin: 30px auto;
    border: #938807 5px solid;
}

.form-details {
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    color: white;
}

.radio-div {
    display: flex;
    justify-content: space-evenly;
}

.radio-content {
    display: flex;
    margin: 5px 5px;
}

.form-label {
    font-size: 25px;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.radio-answer {
    margin-left: 5px;
}

.form-details input {
    margin: 10px 0;
    background-color: transparent;
    border: #938807 2px solid;
    color: white;
    padding: 5px;
    width: 60%;
    border-radius: 5px;
}

.form-details textarea {
    margin: 10px 0;
    background-color: transparent;
    border: #938807 2px solid;
    color: white;
    padding: 5px;
    width: 60%;
    border-radius: 5px;
    height: 135px;
    resize: none;
}

input[type="radio"] {
    margin: 0 5px;
}

.submit-btn-form {
    margin: 10px 0;
    background-color: #938807 !important;
    border: #938807 2px solid;
    color: white;
    padding: 5px;
    width: 35%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.form-error {
    color: red !important;
    font-size: 15px !important;
    margin: 0;
}

@media screen and (max-width: 1350px){
    .contact-section {
        width: 90%;
    }

    .contact-photo1 {
        width: 60%;
    }

    .google-maps {
        width: 60%;
    }

    .form-details input {
        width: 70%;
    }

    .form-details textarea {
        width: 70%;
    }

    .submit-btn-form {
        width: 40%;
    }
    
}

@media screen and (max-width: 999px) {
    .contact-section {
        flex-direction: column-reverse;
    }

    .contact-images {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .contact-photo1 {
        width: 80%;
        height: fit-content;
    }

    .google-maps {
        width: 80%;
    }

    .form-details input {
        width: 80%;
    }

    .form-details textarea {
        width: 80%;
    }

    .submit-btn-form {
        width: 50%;
    }
    
}

@media screen and (max-width: 800px) {

    .contact-title {
        padding-top: 50px;
    }

    .contact-title {
        font-size: 50px;
    }

    .form-details input {
        width: 90%;
    }

    .form-details textarea {
        width: 90%;
    }

    .submit-btn-form {
        width: 60%;
    }

    .contact-photo1 {
        width: 90%;
        height: auto;
    }

    .radio-content {
        flex-direction: column;
    }
    
}
