.contact-image {
    background-image: url(../../../assets/HOME.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.contact-title {
    font-size: 75px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 250px;
    padding-bottom: 100px;
}

.contact-section {
    width: 100%;
    background-color: black;
    display: flex;
}

.contact-images {
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-form {
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.contact-photo1 {
    width: 50%;
    margin: 30px auto;
    border: #938807 5px solid;
}

.google-maps {
    width: 50%;
    height: 325px;
    margin: 30px auto;
    border: #938807 5px solid;
}