.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 80%;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}

.logo-img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.link-comp:hover {
    color: #938807 !important;
}