.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    transition: background-color 0.5s;
    z-index: 2;
}

.scrolled {
    background-color: #000000 !important;
    transition: background-color 0.5s;
    box-shadow: 1px 1px 10px 1px #000000;
    outline: 2px solid #938807;
}

.link {
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
}

.logo-img {
    width: 150px;
    height: 150px;
    cursor: pointer;
    padding-top: 3px;
}

.link-comp:hover {
    color: #938807 !important;
}