.section-image {
    background-image: url(../../../assets/HOME3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.ikl-logo {
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

.ikl-logo-image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.ikl-leadership-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.ikl-leadership-text {
    width: 70%;
    margin: 0 auto;
    font-size: 25px;
    color: white;
}

.blockquote {
    width: 70%;
    font-size: 25px;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    text-align: end;
    margin: 0 auto;
    font-style: italic;
    padding-bottom: 75px;
}

.current-leadership {
    width: 100%;
    text-align: center;
    background-color: black;
}

.current-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 50px;
}

.current-leadership-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

.president {
    width: 100%;
    display: flex;
    align-items: center;
}

.president-photo {
    width: 250px;
    height: 340px;
    object-fit: cover;
    border: #938807 5px double;
}

.president-info {
    width: 100%;
}

.president-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.president-text {
    font-size: 25px;
    color: white;
}

.president-others {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.president-photo-others {
    width: 210px;
    height: 275px;
    object-fit: cover;
    border: #938807 5px double;
    margin: 10px;
}

.president-info-others {
    width: 100%;
}

.president-title-others {
    font-size: 30px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.president-text-others {
    font-size: 25px;
    color: white;
}

.chapter-officers {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 25px;
    padding-bottom: 25px;
}