.section-image {
    background-image: url(../../../assets/HOME3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.ikl-logo {
    text-align: center;
    width: 100%;
    padding-top: 200px;
}

.ikl-logo-image {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.ikl-leadership-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.ikl-leadership-text {
    width: 70%;
    margin: 0 auto;
    font-size: 25px;
    color: white;
}

.blockquote {
    width: 70%;
    font-size: 25px;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    text-align: end;
    margin: 0 auto;
    font-style: italic;
    padding-bottom: 75px;
}

.current-leadership {
    width: 100%;
    text-align: center;
    background-color: black;
}

.current-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 50px;
}

.current-leadership-container {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
}

.president {
    width: 100%;
    display: flex;
    align-items: center;
}

.president-photo {
    width: 250px;
    height: 340px;
    object-fit: cover;
    border: #938807 5px double;
}

.president-info {
    width: 100%;
}

.president-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.president-text {
    font-size: 25px;
    color: white;
}

.president-others {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.president-photo-others {
    width: 210px;
    height: 275px;
    object-fit: cover;
    border: #938807 5px double;
    margin: 10px;
}

.president-info-others {
    width: 100%;
}

.president-title-others {
    font-size: 30px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.president-text-others {
    font-size: 25px;
    color: white;
}

.chapter-officers {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 25px;
    padding-bottom: 25px;
}

.chapter-officers-info {
    width: 50%;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;

}

.officer-info {
    flex-basis: 33%;
    text-align: center;
    padding: 10px;
}

.officer-title {
    font-size: 25px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
}

.officer-text {
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 1499px){
    .current-leadership-container {
        width: 75%;
    }

    .chapter-officers-info {
        width: 75%;
    }

    .president-others {
        width: fit-content;
    }
}

@media screen and (max-width: 1024px){
    .current-leadership-container {
        width: 95%;
    }

    .chapter-officers-info {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .ikl-logo {
        padding-top: 50px;
    }

    .ikl-leadership-title {
        font-size: 40px;
    }

    .ikl-leadership-text {
        width: 90%;
        font-size: 20px;
    }

    .blockquote {
        width: 90%;
        font-size: 20px;
    }

    .current-title {
        font-size: 40px;
    }

    .current-leadership-container {
        width: 80%;
    }

    .president-photo {
        width: 200px;
        height: 275px;
    }

    .president-title {
        font-size: 40px;
    }

    .president-photo-others {
        width: 175px;
        height: 225px;
    }

    .president-others {
        width: 100%;
        flex-direction: column;
    }

    .president-text {
        font-size: 20px;
    }

    .president-title-others {
        font-size: 25px;
    }

    .president-text-others {
        font-size: 20px;
    }

    .chapter-officers {
        font-size: 40px;
    }

    .chapter-officers-info {
        width: 80%;
    }

    .officer-info {
        flex-basis: 100%;
    }

    .officer-title {
        font-size: 20px;
    }

    .officer-text {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 500px) {
    .ikl-leadership-title {
        font-size: 30px;
    }

    .ikl-leadership-text {
        width: 95%;
        font-size: 15px;
    }

    .blockquote {
        width: 90%;
        font-size: 15px;
    }

    .current-title {
        font-size: 30px;
    }

    .current-leadership-container {
        width: 95%;
    }

    .president-photo {
        width: 150px;
        height: 200px;
    }

    .president-title {
        font-size: 30px;
    }

    .president-photo-others {
        width: 125px;
        height: 175px;
    }

    .president-others {
        width: 100%;
        flex-direction: column;
    }

    .president-text {
        font-size: 15px;
    }

    .president-title-others {
        font-size: 20px;
    }

    .president-text-others {
        font-size: 15px;
    }

    .chapter-officers {
        font-size: 35px;
    }

    .chapter-officers-info {
        width: 100%;
    }

    .officer-info {
        flex-basis: 100%;
    }

    .officer-title {
        font-size: 20px;
    }

    .officer-text {
        font-size: 15px;
    }
    
}