.help-image {
    background-image: url(../../../assets/HOME.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.help-title {
    font-size: 75px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-top: 250px;
    padding-bottom: 100px;
}

.helpful-container {
    width: 100%;
    text-align: center;
    background-color: black;
    display: flex;
}

.alumni-chapters {
    width: 50%;
    background-color: white;
    height: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.college-chapters {
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-bottom: 30px;
}

.alumni-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-bottom: 50px;
    padding-top: 25px;
}

.college-title {
    font-size: 50px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    color: #938807;
    text-shadow: 
    -1px -1px 1px #000, 
    1px -1px 1px #000, 
    -1px 1px 1px #000, 
    1px 1px 1px #000; 
    padding-bottom: 50px;
    padding-top: 25px;
}

.link-container {
    width: 80%;
    justify-content: space-evenly;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.link-box {
    border: #938807 2px solid;
    width: fit-content;
    padding: 20px 20px;
    flex-basis: 40%;
    margin: 10px 10px;
}

.link-name {
    font-size: 25px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
}

.link-info {
    font-size: 20px;
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
}

.info-button {
    background-color: #938807;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.alumni-box {
    background-color: #000;
}

.alumni-box h1 {
    color: white;
}

.alumni-box p {
    color: white;
}

.college-box {
    background-color: #fff;
}

.college-box a {
    color: black;
}